<div class="container vh-100">
    <div class="row">
        <p class="text-end">
            Bienvenido {{user}} !
            <a href="./login/logout" class="btn btn-link">Salir 
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </p>
    </div>
    <h1>HOLA SOY EL ADMINISTRADOR</h1>
</div>