/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

@media screen and (max-width:992px) {
  table {
    border: 0px;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid black;
    display: block;
  }

  table td {
    display: block;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width:767px) {
  .logo {
    padding-left: 30%;
    height: 60px;
    width: 300px;
  }
}

@media screen and (max-width:472px) {
  .logo {
    padding-left: 5%;
    /* height: 60px;
    width: 300px; */
  }
}

@media screen and (max-width:391px) {
  .logo {
    padding-left: 0px;
    height: 40px;
    width: 250px;
  }
}

@media screen and (max-width:311px) {
  .logo {
    margin-left: -30px;
    height: 30px;
    width: 200px;
  }
}